
/*TITULO*/

.titulo {
    text-align: center;
    font-family: "Open Sans Condensed", bold;
    font-size: 2em;
    color: #ffcccc;

}
.grid-container {
    display: grid;
    justify-content: center;
}
.impresionesa5 {
  grid-area: content;
}
.marco-decolor-rosa {
  border-radius: 2em;
  border: 0.2em solid rgb(247, 169, 169);
}
.galeria2 {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}


/*COMIENZO DE LA GALERIA*/
.galeria-container {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
   
    
  }

  .galeria {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

 .contenido-galeria {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .redes {
    max-width: 100%;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.5em;
  }
  
  /*Animación Redes*/
  .animation-container {
    display: flex;
    justify-content: space-between;
  }
  
  .animation-container :hover {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.95);
    }
 }


 @media only screen and (min-width: 200px) and
(max-width: 600px) 

{/*SECCION GALERIA*/
.galeria {
    grid-template-columns: auto;
  }
  }

 